<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/IVRDataAccessService/src/com/acs/benefits/access/webservice/SybaseDataAccessClient.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.acs.benefits.access.webservice.SybaseDataAccessClient"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="IVRDataAccessService"/>
</launchConfiguration>
